<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<script type="text/javascript" async="" src="fans_4_files/ec.js"></script><script async="" src="fans_4_files/analytics.js"></script><script async="" src="fans_4_files/fbevents.js"></script><script async="" src="fans_4_files/gtm.js"></script><script>
	// QOS start time must be as early as possible.
	var QOS_PAGE_START_MS = Date.now ? Date.now() : +new Date();
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="google-site-verification" content="mJTGLsUwODg98nXhwcsYGJuVana8TPIz9iUNiniILPM">
	
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
	
	<meta name="format-detection" content="telephone=no">
	

	
		
			<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="white">
			<meta name="apple-mobile-web-app-title" content="">
			<link rel="apple-touch-icon" href="https://shopee.com.my/static/images/logo-152x152.png">
		
		<link rel="shortcut icon" href="https://shopee.com.my/favicon.ico" type="image/x-icon">
	
<meta name="robots" content="noindex">


	<link href="fans_4_files/common.css" rel="stylesheet">
	<link href="fans_4_files/icons.css" rel="stylesheet">
	
	<link href="fans_4_files/fonts.css" rel="stylesheet">
	
	
		<link rel="stylesheet" href="fans_4_files/MY_language.css">
	
	<link rel="stylesheet" href="fans_4_files/web_popup.css">
	
	





	


	<title>粉絲</title>



	<link rel="stylesheet" href="fans_4_files/followers.css">





    <script type="text/javascript">
    ;(function() {
        var SCRIPT_FAIL_THRESHOLD = 90000;
        setTimeout(function() {
            if (window.$ || window.jQuery) {
                // console.log("jquery has been loaded successfully");
                return true;
            } else {
                // jquery is not loaded after max timeout, we considered the script has fail to load
                // it's time to show error message

                // clear whatever dom content we have
                document.body.innerHTML = document.getElementById("tap-to-reload").innerHTML;
                document.body.addEventListener("touchend", function() {
                    window.location.reload(true); // reload from server, not cache
                }, false);

                // set alert message to vertical center
                var alertMessageDom = document.getElementsByClassName("alert-message")[0];
                var viewportHeight = document.documentElement.clientHeight;
                alertMessageDom.style.marginTop
                        = Math.floor((viewportHeight - alertMessageDom.style.lineHeight)/2) + "px";
            }
        }, SCRIPT_FAIL_THRESHOLD);
    })();
</script>
<script id="tap-to-reload" type="text/template">
    <style>
        body {
            vertical-align : middle;
            text-align : center;
        }
        .alert-message {
            font-size : 18px;
            vertical-align : middle;
            display : inline-block;
        }
    </style>
    <p class="alert-message">
        Tap to reload again
    </p>
</script>

	<script type="text/javascript">
	var ORIGIN_WHITE_LIST = ['www.facebook.com', 'facebook.com'];
	function isSameOrigin() {
		var selfHost = window.self.location.hostname;
		var topHost = window.top.location.hostname;

		if (topHost in ORIGIN_WHITE_LIST) {
			return true;
		}
		// same domain, including 127.0.0.1, localhost etc
		if (selfHost === topHost) {
			return true;
		}
		// other domain not contain shopee keyword
		if (topHost.indexOf('shopee') === -1) {
			return false;
		}
		var topRootDomain = topHost.slice(topHost.indexOf('shopee'));
		var selfRootDomain = selfHost.slice(selfHost.indexOf('shopee'));
		return topRootDomain == selfRootDomain;
	}

	if (!isSameOrigin()) {
		document.body.style.display = 'none';
	} else { }
</script>
	<script type="text/javascript">



{
	function _getGlobals_()
	{
		var toRet = {};
		try
		{
			for(var k in window)
			{
				if(window.hasOwnProperty(k))
					toRet[k]= true;
			}
		}
		catch(e){}
		return toRet;
	}
	window._resetGlobals_ = function(resetTo)
	{
		var vars = resetTo;
		for(var k in window)
		{
			if(window.hasOwnProperty(k) && vars[k] == null)
			{
				window[k] = null; //Note: delete doesn't work for window's fields.
			}
		}
	};
	if(navigator.userAgent.indexOf('Shopee') >= 0 && (navigator.userAgent.indexOf('iPhone') >= 0 || navigator.userAgent.indexOf('iPad') >= 0 || navigator.userAgent.indexOf('iPod') >= 0))
	{
		window.ORIGINAL_GLOBAL_VARS = _getGlobals_();
	}
	window.GTimeoutAndInterval = (function(){
		var idsTimeout = {};
		var idsInterval = {};
		var funcSetTimeout = window.setTimeout;
		var funcClearTimeout = window.clearTimeout;
		var funcSetInterval = window.setInterval;
		var funcClearInterval = window.clearInterval;

		window.setTimeout = function(func, delay){
			var id = funcSetTimeout(func, delay);
			idsTimeout[id] = id;
			return id;
		};
		window.clearTimeout = function(id){
			funcClearTimeout(id);
			delete idsTimeout[id];
		};

		window.setInterval = function(func, interval){
			var id = funcSetInterval(func, interval);
			idsInterval[id] = id;
			return id;
		};
		window.clearInterval = function(id){
			funcClearInterval(id);
			delete idsInterval[id];
		};

		function clearAll(skipSelf)
		{
			for(var k in idsTimeout)
				funcClearTimeout(k);
			for(var k in idsInterval)
				funcClearInterval(k);
			idsTimeout = {};
			idsInterval = {};
			if(skipSelf) return;

			window.setTimeout = funcSetTimeout;
			window.setInterval = funcSetInterval;
			window.clearTimeout = funcClearTimeout;
			window.clearInterval = funcClearInterval;
			funcSetTimeout = null;
			funcClearTimeout = null;
			funcClearInterval = null;
			funcSetInterval = null;
		}

		return {
			clearAll: clearAll,
		};
	})();

	function hookEventTarget(target)
	{
		var p = target.prototype || target.__proto__;
		if(!p) return;

		p.addEventListenerBase = p.addEventListener;
		p.addEventListener = function(type, listener)
		{
			if(!this.EventList) { this.EventList = {}; }
			// This condition prevents the crash when jQueryMobile is re-evaluated after iOS cache invalidation. (Comment out this condition and force cache invalidation in iOS to see the crash in action.)
			if(this.addEventListenerBase)
				this.addEventListenerBase.apply(this, arguments);
			if(!this.EventList[type]) { this.EventList[type] = []; }
			var list = this.EventList[type];
			for(var index = 0; index != list.length; index++)
			{
				if(list[index] === listener) { return; }
			}
			list.push(listener);
		};

		p.removeEventListenerBase = p.removeEventListener;
		p.removeEventListener = function(type, listener)
		{
			if(!this.EventList) { this.EventList = {}; }
			// This second condition prevents the crash when jQueryMobile is re-evaluated after iOS cache invalidation.
			if((listener instanceof Function) && this.removeEventListenerBase)
			{
				this.removeEventListenerBase.apply(this, arguments);
			}
			if(!this.EventList[type]) { return; }
			var list = this.EventList[type];
			for(var index = 0; index != list.length;)
			{
				var item = list[index];
				if(!listener)
				{
					this.removeEventListenerBase(type, item);
					list.splice(index, 1); continue;
				}
				else if(item === listener)
				{
					list.splice(index, 1); break;
				}
				index++;
			}
			if(list.length == 0) { delete this.EventList[type]; }
		};

		p.removeAllEvents = function()
		{
			if(!this.EventList) return;
			for(var type in this.EventList)
			{
				if(!this.EventList.hasOwnProperty(type)) continue;
				var list = this.EventList[type];
				if(!list) continue;
				for(var j=0; j<list.length; j++)
				{
					this.removeEventListenerBase(type, list[j]);
				}
				delete this.EventList[type];
			}
		};
	}

	function unhookEventTarget(target)
	{
		var p = target.prototype || target.__proto__;
		if(!p) return;

		if(p.addEventListenerBase)
			p.addEventListener = p.addEventListenerBase;
		if(p.removeEventListenerBase)
			p.removeEventListener = p.removeEventListenerBase;
	}

	try
	{
		// Note: Originally I wanted to do this with EventTarget.prototype...., but seems iOS doesn't expose EventTarget interface. So we have to do it one by one.
		hookEventTarget(Window);
		hookEventTarget(Document);
		hookEventTarget(Element);
	}
	catch(e)
	{
		console.log('hookEventTarget.ex', e);
	}
}
</script>




	
		






<script type="text/javascript">


	var USERID = 72014359;
	var ALERT_LIKE_PRIVACY_MSG = false;
	var CC_INSTALLMENT_PAYMENT_ELIGIBILITY = false;
	var NON_CC_INSTALLMENT_PAYMENT_ELIGIBILITY = false;




	var CURRENT_PATH = '/shop/37216574/followers/';

	var CURRENT_SHOPID = '72012898';
	var VERSION = '';
	var APPVER = '';
	var LANGUAGE = 'zhHans';
	var IS_FB_APP = false;

	var T_EM_H = '';


</script>



<script type="text/javascript">


	var LOCALE = 'MY';
	var ENVIRONMENT = 'LIVE';
	var POPTAB_FIRST = true;
	var POPTAB_FIRST_HASHTAG = false;
	var SHOW_TOP_SALES_TABS = true;

	var ITEM_IMAGE_BASE_URL = 'https://cf.shopee.com.my/file/';
	var ITEM_VIDEO_BASE_URL = 'https://cvshopeecommy\u002Da.akamaihd.net/video/';
	var ROOT_DOMAIN = 'shopee.com.my';
	var COOKIE_DOMAIN = 'shopee.com.my';

	
	var msg_server_error = '伺服器错误';
	var label_ok = '好的';

	var T_GA_ID = 'UA\u002D61915055\u002D6';
	var T_GA_ID_PC = 'UA\u002D61915055\u002D6';
	var T_FB_ID = '757894527666013';
	var T_CRITEO_ID = '32773';




	var T_BI_SIG = "SPC_T_ID";
	var T_BI_IV = "SPC_T_IV";
	var SHOW_SHOPEE_VERIFIED_FILTER = true;
	var SHOW_IN_PAGE_FILTER = true;
	var MARKET_TRACKING_TOKEN_NAME = "smtt_v0";
	var MARKET_TRACKING_TOKEN_V2_NAME = "smtt";
	var MARKET_TRACKING_ADS_AFFILIATION_TOKEN = "sp_af";
	var RN_BUNDLE_VERSION_COOKIE_NAME = "SPC_RNBV";
	var PRICEZA_MERCHANT_ID = 7077;
	var CONFIG_WALLET_KYC = false;
	var AIRPAY_CLIENT_API_ENDPOINT = '';
	var CONFIG_COIN_INFLATION = 1;
	var CONFIG_CONTACT_US_NUMBER = JSON.parse('{\u0022phone_number\u0022:\u002203 \u002D 2298 9222\u0022,\u0022operating_hours\u0022:\u0022Mon\u002DSun: 9am \u002D 6pm, except public holidays \u0022,\u0022email_address\u0022:\u0022support@shopee.com.my\u0022}')['phone_number'];


	var STATIC_URL = '/static/';
	var SIMPLE_VERSION = false;
	var DEBUG = false;
	var LOCALHOST = false;
	var STAGING = false;
	var ANDROID_FRIENDLY = false;
	var ENABLE_RATING_REPLY = true;
	var ADULT_AGE = '18';
	var ENABLE_LOCATION_FILTER = true;
	var ENABLE_LOCATION_FILTER_IN_PAGE = true;
	var CONFIG_BRANDING_SHOPEE_WALLET_AS_MY_WALLET = false;
	var SHOW_SOLD_COUNT = false;
	var OPC_CART_MUST_HAVE_ADDRESS = true;
	var CONFIG_FLASH_SALE_NAMED_AS_FLASH_DEAL = false;
	var SHIPPING_OPTION_FILTER = false;
	var ENABLE_SHIPPING_FILTER_PAGE = false;
	var CONFIG_FLASH_SALE_NAME_KEY = "shocking_sale";
	var CONFIG_OFFICIAL_SHOP_ROOT_URL = "/mall";
	var show_from_same_shop = true;
	var CONFIG_SHOW_FROM_SAME_SHOP_SHOW_SECTION = true;
	var ENABLE_OFFICIAL_SHOP_FILTER = true;
	var ENABLE_OFFICIAL_SHOP_FILTER_IN_PAGE = false;
	var ENABLE_CC_INSTALLMENT_PAYMENT = false;
	var ENABLE_NON_CC_INSTALLMENT_PAYMENT = false;
	var LOWEST_PRICE_GUARANTEE_SHOP = [{"userid":145427,"shopid":145423}];
	var INSTALLMENT_FILTER = false;
	var CONFIG_BRAND_LIST = true;
	var CONFIG_RW_ONE_PAGE_CHECKOUT = true;
	var CONFIG_ENABLE_LOCAL_WALLET = false;
	var CONFIG_DIGIT_GROUP_SYMBOL = ",";
	var TRACKING_URL_PARAMS = ["smtt","smtt_v0"];
	var MARKET_UNIVERSAL_LANDING_PAGE_PREFIX = "/universal-link";


	var _gaq = [];

	var _djangofy_t_ = {};

	var _transify_t_ = {};

	var i18njs = false;

	window.criteo_q = window.criteo_q || [];

	window.RN_PERCENTAGE = {"default":100,"just_for_you":0,"checkout":100};
	window.RN_PAGE_MIN_VERSION_ANDROID = {"default":21416,"checkout":21200};
	window.RN_PAGE_MIN_VERSION_IOS = {"default":21400,"checkout":21200};
	window.RN_PAGE_MIN_VERSION_BUNDLE = {"default":0};

</script>


	<script>
  var gtmDataLayer = [{
	  'country': window.LOCALE.toLowerCase(),
	  'userid': window.USERID,
	  'source': 'mweb'
  }];
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','gtmDataLayer','GTM-WJZQSJF');</script>
<!-- End Google Tag Manager -->





	<script type="text/javascript" src="fans_4_files/fb_init.js" defer="defer"></script>
	
	<script type="text/javascript" src="fans_4_files/ld.js" async="true"></script>
	<script type="text/javascript">
		window.criteo_q.push({event: "setAccount", account: T_CRITEO_ID });
		if(window.T_EM_H)
			window.criteo_q.push({ event: "setEmail", email: window.T_EM_H });
	</script>
	





	<script type="text/javascript" src="fans_4_files/jslib_base.js"></script>




<script>
_transify_t_["label_mil_id"] = "juta";
_transify_t_["label_mil_ph"] = "mil";
_transify_t_["label_ok"] = "好的";
_transify_t_["label_mil_th"] = "million";
_transify_t_["tooltips_shipping_fee_included"] = "您可以使用“出价“功能来跟卖家讨论运费金额或运送方式。";
_transify_t_["label_used"] = "二手";
_transify_t_["label_used_good"] = "二手 (挺好的)";
_transify_t_["label_years"] = "年";
_transify_t_["label_apps"] = "Apps";
_transify_t_["text_download_shopee_for_more_function"] = "快来下载Shopee App";
_transify_t_["alert_bank_account_wallet_pin_changed"] = "您的帐户目前正在审核中。请稍后再试，或联络{{hotline}}以寻帮助";
_transify_t_["label_short_for_number_100000000"] = "not applicable";
_transify_t_["label_copied_failed"] = "复制失败";
_transify_t_["label_within_hours"] = "几小时内";
_transify_t_["label_short_for_number_10000"] = "not applicable";
_transify_t_["label_latest"] = "最新";
_transify_t_["alert_set_rejected_account_default"] = "您无法将被拒绝的帐户设为预设";
_transify_t_["label_new_without_tags"] = "全新已拆吊牌";
_transify_t_["label_price"] = "价格";
_transify_t_["alert_bank_account_no_change"] = "此账户已存在，请输入新的银行账户";
_transify_t_["label_cancel"] = "取消";
_transify_t_["label_year_abbr"] = "年";
_transify_t_["alert_bank_account_duplicate"] = "银行账号资料已存在";
_transify_t_["alert_bank_info_not_valid"] = "抱歉，您的银行账号无效，请再次填入。";
_transify_t_["label_week"] = "周";
_transify_t_["label_day"] = "天";
_transify_t_["tooltips_days_to_ship"] = "卖家在出货前的准备天数";
_transify_t_["label_day_abbr"] = "天";
_transify_t_["label_not_set"] = "未设定";
_transify_t_["tooltips_shipping_fee_included_my"] = "若包裹需寄往东马或想要洽谈运费的话，请与卖家联络。";
_transify_t_["msg_ios_coming_soon"] = "iOS版本即将推出";
_transify_t_["label_popular"] = "热门";
_transify_t_["alert_delete_default_account"] = "无法删除预设的银行账号";
_transify_t_["label_hour"] = "小时";
_transify_t_["label_prep_within"] = "不超过";
_transify_t_["alert_delete_pending_account"] = "由于有订单/退款等待审核中，所以无法删除这个帐户";
_transify_t_["label_hours"] = "小时";
_transify_t_["label_k_th"] = "พัน";
_transify_t_["label_copied_successfully"] = "复制成功";
_transify_t_["alert_bank_account_banned"] = "银行账户已被禁用";
_transify_t_["label_short_for_number_1000000"] = "M";
_transify_t_["label_new_with_defects"] = "全新但有部分瑕疵";
_transify_t_["label_get"] = "现在下载";
_transify_t_["alert_bank_account_blacklisted"] = "银行账户已被列入黑名单";
_transify_t_["label_k_vn"] = "k";
_transify_t_["label_k_ph"] = "k";
_transify_t_["alert_bank_account_reach_limit"] = "您已达到最多银行账号的限制。";
_transify_t_["label_hour_abbr"] = "小时前";
_transify_t_["label_new_others"] = "全新 (其他)";
_transify_t_["label_days"] = "天";
_transify_t_["label_shopee"] = "Shopee";
_transify_t_["label_year"] = "年";
_transify_t_["label_k_id"] = "rb";
_transify_t_["label_weeks"] = "周";
_transify_t_["label_used_like_new"] = "二手";
_transify_t_["label_new_with_tags"] = "全新";
_transify_t_["msg_server_error"] = "伺服器错误";
_transify_t_["label_mil_vn"] = "tr";
_transify_t_["label_week_abbr"] = "周前";
_transify_t_["alert_bank_account_phone_changed"] = "您的帐户目前正在审核中。请稍后再试，或联络{{hotline}}以寻帮助";
_transify_t_["label_used_with_defects"] = "二手 (部分瑕疵)";
_transify_t_["label_short_for_number_1000"] = "万";
_transify_t_["alert_edit_bank_account_error"] = "只能编辑被拒绝的银行账号资料";
_transify_t_["label_minute_abbr"] = "分钟前";
_transify_t_["label_minute"] = "分钟";
_transify_t_["label_prep_morethan"] = "超过";
_transify_t_["label_used_acceptable"] = "二手 (还行)";
_transify_t_["label_distance"] = "附近";
_transify_t_["label_within_days"] = "几天内";
_transify_t_["label_just_now"] = "刚刚";
_transify_t_["label_within_minutes"] = "几分钟内";
_transify_t_["label_minutes"] = "分钟";
</script>
<script type="text/javascript" src="fans_4_files/site.js"></script>





<script>


</script>

<script type="text/template" id="shopee-action-sheet-item">

<li class='action-sheet-item {% if data.disabled %}disabled{% endif %}' data-id={{data.id}}>
	<div class='title'>
		{{data.title}}
	</div>
	<div class='subtitle L12'>
		{% if data.subtitle %}
			{{data.subtitle}}
		{% endif %}
	</div>
</li>

</script>




<script>


</script>

<script type="text/template" id="drop-down-menu-item">

<li class='drop-down-menu-item {% if data.state %}drop-down-menu-item--disabled{% endif %}' data-id={{data.id}}>
	<div class='drop-down-menu-item__content'>
		<div class='drop-down-menu-item__content__title r14'>
			{{data.title}}
		</div>
	</div>
</li>

</script>



	<script>
_transify_t_["msg_overseas_products_credit_card_only"] = "请使用信用卡或借记卡结账海外商品。";
_transify_t_["label_official_shops--TH"] = "Shopee Mall";
_transify_t_["label_ok"] = "好的";
_transify_t_["label_official_shops--ID"] = "Shopee Mall";
_transify_t_["msg_you_will_receive_a_phone_call"] = "您将会收到Shopee电话，验证码将会被读出";
_transify_t_["label_online"] = "在线上";
_transify_t_["msg_cancel_order_upgrade"] = "很抱歉，买家已提出取消此笔订单的请求。请更新到最新版本以回应买家的请求。";
_transify_t_["label_official_shops--PH"] = "Shopee Mall";
_transify_t_["label_your_activity_are_public"] = "您的粉丝可以看到您说赞的好物";
_transify_t_["msg_offline_payment_disabled_singular"] = "__seller__ 没有提供货到付款";
_transify_t_["label_unexpected_error"] = "发生未知错误，请稍后再试";
_transify_t_["label_official_shops--VN"] = "Shopee Mall";
_transify_t_["text_retrieve_location_failed"] = "找不到此位置";
_transify_t_["label_official_shops--MY"] = "Shopee官方商城";
_transify_t_["label_official_shops--TW"] = "蝦皮商城";
_transify_t_["label_active_date_ago"] = "__date__前上线";
_transify_t_["text_retrieve_location"] = "读取中...";
_transify_t_["msg_app_go_send"] = "Please use Shopee App to add Go\u002DSend map location info.";
_transify_t_["label_learn_more"] = "了解更多";
_transify_t_["msg_total_price_exceed_channel_max"] = "您已超过每笔交易的金额上限。若有任何问题，您可以直接联络Shopee客服";
_transify_t_["text_waiting_for_location"] = "等待位置...";
_transify_t_["label_all_categories_s"] = "全部分类";
_transify_t_["msg_buyer_address_not_support_cod"] = "您的地址无法使用货到付款功能";
_transify_t_["msg_seller_has_blocked_you"] = "您已被此卖家加进封锁名单，您可以查看其他商品。";
_transify_t_["label_filter"] = "筛选";
_transify_t_["label_see_other_products"] = "查看其他商品";
_transify_t_["label_edit_product"] = "修改商品";
_transify_t_["label_change_setting"] = "更改设定";
_transify_t_["msg_payment_channel_banned_category"] = "由于您的购物车中包含__category__商品，无法使用__payment_channel__付款。";
_transify_t_["label_age_control_ok_customize"] = "我已满__{age}__岁";
_transify_t_["label_age_control_msgs_customize"] = "本分类商品为限制级商品，限__{age}__岁以上会员才可浏览及购买。";
_transify_t_["label_search_in"] = "搜寻";
_transify_t_["label_share"] = "分享";
_transify_t_["label_call_me"] = "拨打我";
_transify_t_["label_ago"] = "__date__ 前";
_transify_t_["label_m"] = "米";
_transify_t_["msg_promo_offline_no_multiple_checkouts"] = "促销代码只能适用于单一卖家。请重新编辑您的购物车";
_transify_t_["label_cart"] = "购物车";
_transify_t_["msg_total_price_below_min_amount"] = "此付款方式最低金额为 __min_amount__ ，请选择别的付款方式。";
_transify_t_["label_search_within_category"] = "在 #{categoryName}中搜寻\u0022#{searchText}\u0022";
_transify_t_["msg_cod_temporarily_suspended"] = "您的超商取货付款权限已暂时取消，请选择其他付款方式。";
_transify_t_["msg_pls_update_apps"] = "请更新您的App以使用这项功能。";
_transify_t_["label_like"] = "赞";
_transify_t_["label_cancel"] = "取消";
_transify_t_["label_official_shops--SG"] = "Shopee Mall";
_transify_t_["msg_download_shopee_google"] = "请从Google Play商店下载Shopee以使用此功能。";
_transify_t_["label_follow"] = "关注";
_transify_t_["msg_server_error"] = "伺服器错误";
_transify_t_["msg_cod_not_all_supported_logistic"] = "并不是所有寄送方式都适用货到付款";
_transify_t_["msg_payment_option_maintenance"] = "目前__channelname__系统维修中，请选择其他付款方式，谢谢";
_transify_t_["label_age_control_no_customize"] = "我还未满__{age}__";
_transify_t_["msg_order_total_exceed_cod_maximum"] = "抱歉，此金额超过Shopee支援的寄送最高价值金额。";
_transify_t_["label_km"] = "公里";
_transify_t_["alert_follow_limit"] = "您已达到关注的上限";
_transify_t_["label_following"] = "关注中";
_transify_t_["alert_follow_too_frequent"] = "您已达到本日关注的最高上限，请明天再试。";
_transify_t_["label_within"] = "距离我";
_transify_t_["label_chat"] = "聊天";
_transify_t_["msg_total_price_exceed_credit_card_max"] = "付款失败(C07)：交易金额超过系统允许的信用卡交易金额上限，请选择其它付款方式。";
_transify_t_["label_more_than_200km_away"] = "超过两百公里";
_transify_t_["msg_promo_code_no_offline_payment"] = "货到付款不适用此促销代码";
</script>
<script type="text/javascript" src="fans_4_files/jsutil_base.js"></script>



	<script type="text/javascript" src="fans_4_files/jquery.js"></script>


<script type="text/javascript" src="fans_4_files/config.js"></script>
<script type="text/javascript" src="fans_4_files/server_constant.js"></script>


	<script type="text/javascript" src="fans_4_files/BJBridgeReceiver.js"></script>
	

	<script>
_transify_t_["msg_facebook_please_copy_link"] = "请复制以下网址，并在Safari中开启，抱歉造成您的不便。";
_transify_t_["label_search_within"] = "搜寻范围";
</script>
<script type="text/javascript" src="fans_4_files/deep_linking.js"></script>
	<script type="text/javascript" src="fans_4_files/velocity.js"></script>
	<script type="text/javascript" src="fans_4_files/multi_target_event_dispatcher.js"></script>
	<script type="text/javascript" src="fans_4_files/app_header_controller.js"></script>
	<script type="text/javascript">
		$(function() {
			AppHeaderController.init($('.header'));
		});
		
		
		
		window.criteo_q.push({ event: "setSiteType", type: isPC() ? "d" : "m" });
		
	</script>

	
		<script>
		var banner1x = "/static/images/ic_background_map.png?6e42b3249992&3";
		var banner2x = "/static/images/ic_background_map@2x.png?6e42b3249992&3";
		var banner3x = "/static/images/ic_background_map@3x.png?db7c05b0c077&3";
		</script>
		<script>
_transify_t_["msg_server_error"] = "伺服器错误";
_transify_t_["msg_must_select_language"] = "请在更新前选择语言";
_transify_t_["msg_language_updated"] = "成功更改显示语言";
_transify_t_["label_ok"] = "好的";
</script>
<script type="text/javascript" src="fans_4_files/MY_language.js"></script>
	




	
	
<script type="text/javascript">
	var msg_deleted_follower_removed = "已移除此粉丝";
	var msg_deleted_following_removed = "已移除被删除的关注";
	var msg_server_error = "伺服器错误";
	var label_follower = "粉絲";
	var label_following = "关注中";
	var label_follow = "关注";

    var alert_follow_limit = "您已达到关注的上限";
    var alert_follow_too_frequent = "您已达到本日关注的最高上限，请明天再试。";

	var current_shop_id = "72012898";
	var load_more_url = "";

    
    var is_following = false;
    
    
</script>
<script>
_transify_t_["msg_no_more_following"] = "找不到更多关注商店";
_transify_t_["msg_fail_to_load_more_followers"] = "无法读取更多的粉丝";
_transify_t_["msg_no_more_followers"] = "找不到更多粉丝";
</script>
<script type="text/javascript" src="fans_4_files/followers.js"></script>





	

	<link rel="alternate" href="android-app://com.shopee.my/shopeemy/home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLmNvbS5teS9zaG9wLzM3MjE2NTc0L2ZvbGxvd2Vycy8/X2dzcmM9aHR0cHMlM0EvL3Nob3BlZS5jb20ubXkvc2hvcC8zNzIxNjU3NC9mb2xsb3dlcnMvIn19XX0%3D">
	<link rel="alternate" href="ios-app://959841113/shopeemy/home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLmNvbS5teS9zaG9wLzM3MjE2NTc0L2ZvbGxvd2Vycy8/X2dzcmM9aHR0cHMlM0EvL3Nob3BlZS5jb20ubXkvc2hvcC8zNzIxNjU3NC9mb2xsb3dlcnMvIn19XX0%3D">

	
	
	<meta property="al:ios:url" content="shopeemy://home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLmNvbS5teS9zaG9wLzM3MjE2NTc0L2ZvbGxvd2Vycy8/X2dzcmM9aHR0cHMlM0EvL3Nob3BlZS5jb20ubXkvc2hvcC8zNzIxNjU3NC9mb2xsb3dlcnMvIn19XX0%3D">
    <meta property="al:ios:app_store_id" content="959841113">
    <meta property="al:android:url" content="shopeemy://home?navRoute=eyJwYXRocyI6IFt7IndlYk5hdiI6IHsidXJsIjogImh0dHBzOi8vc2hvcGVlLmNvbS5teS9zaG9wLzM3MjE2NTc0L2ZvbGxvd2Vycy8/X2dzcmM9aHR0cHMlM0EvL3Nob3BlZS5jb20ubXkvc2hvcC8zNzIxNjU3NC9mb2xsb3dlcnMvIn19XX0%3D">
    <meta property="al:android:package" content="com.shopee.my">

</head>
<body>




	
		

<div class="header ">
	
	<div class="inner middle-centered-div">
		
		<div class="icon_left ic_icon  ic_arrow_back clickable_area">
		</div>
		

		
		<div class="search-bar flex1 hidden">
			<div class="search-bar-input-wrapper middle-centered-div flex1">
				<div class="ic_search ic_icon"></div>
				<form class="search_form flex1" action=".">
					<input class="search-input flex1 L12" type="search">
				</form>
				<div class="dropdown-holder">
					<div class="dropdown-content one r12">
					</div>
					<div class="dropdown-content two r12">
					</div>
				</div>
			</div>
			<div class="search-bar-space-holder flex1 hidden page_name L16">粉絲</div>
			<div class="ic_search_red ic_icon hidden clickable_area"></div>
		</div>
		<div class="no-search-bar-holder center-nav flex1">
			<div class="search-bar-space-holder flex1 page_name L16 truncate">粉絲</div>
		</div>
		

		

		
			
		
		
		<div class="second-panel">
			<a href="https://shopee.com.my/buyer/logout">
				<div class="signup-btn">登出</div>
			</a>
		</div>
		
        <div class="clearfix"></div>
	</div>
</div>
<div class="header-holder ">
</div>
<div class="body-mask">
</div>
<div class="lure-hold">
	<div class="close_btn but_no_close" onclick="hideProm()">
	</div>

    <div class="dogi-logo">
        <div class="ic_logo_get"></div>
    </div>

	<div class="show-text L13">
	</div>
	<div class="bottom">


        <div class="get_app_btns_wrapper">
            <div class="full" style="display: none;">
                <a id="get_app_link" target="_blank" href="http://app.appsflyer.com/id959841113?pid=web_referral" class="btn">现在下载</a>
            </div>
            <div class="half"><a id="get_ios_app_link" target="_blank" href="http://app.appsflyer.com/id959841113?pid=web_referral" class="btn" onclick="_track_download_ios();">
                    <div class="ic_IPhone icon"></div>
                    <div>iPhone</div>
                </a>
            </div><div class="half"><a id="get_android_app_link" target="_blank" href="http://app.appsflyer.com/com.shopee.my?pid=web_referral" class="btn" onclick="_track_download_android();">
                    <div class="ic_Android icon"></div>
                    <div>Android</div>
                </a></div>

        </div>

	</div>
</div>

	

	<div class="shopee-confirm-modal hidden">
</div>
<div class="shopee-confirm hidden">
	<div class="confirm-title">
		<div class="content"></div>
	</div>
	<div class="confirm-message">
		<div class="content"></div>
	</div>
	<div class="confirm-button-holder middle-centered-div">
		<div class="confirm-button cancel" data-button-id="1"></div>
		<div class="flex1" data-button-id="0"></div>
		<div class="confirm-button ok" data-button-id="0"></div>
	</div>
</div>

	<div class="shopee-action-sheet-mask"></div>
<div class="shopee-action-sheet-container center-container isPC">
</div>

	

<div id="pin-popup">
	<div class="popup">
		<div class="title r16">
		</div>
		<div class="message r16">
		</div>
		<div class="digit-holder">
			<div class="digit-input">
			</div><div class="digit-input">
			</div>
		</div>
		<div class="btn-holder">
			<div class="cancelText" data-button-id="1">
			</div><div class="okText" data-button-id="0">
			</div>
		</div>
	</div>
	<div class="digit-keyboard">
		<div class="digit-row">
			<div class="digit r14">1</div><div class="digit r14">2</div><div class="digit r14">3</div>
		</div>
		<div class="digit-row">
			<div class="digit r14">4</div><div class="digit r14">5</div><div class="digit r14">6</div>
		</div>
		<div class="digit-row">
			<div class="digit r14">7</div><div class="digit r14">8</div><div class="digit r14">9</div>
		</div>
		<div class="digit-row">
			<div class="digit r14"></div><div class="digit r14">0</div><div class="delete r14">Delete</div>
		</div>
	</div>
</div>






<div id="shop-followers" class="has-toolbar page-holder center-container">
	<ul class="follower-list">
		
		
	

<li data-follower-shop-id="52146790" data-follower-cursor="0" class="clickable_area middle-centered-div selected">
	
		
			<a href="https://shopee.com.my/haniaimi" username="haniaimi" userid="52148177" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/haniaimi" username="haniaimi" userid="52148177" class="shop-href">
						haniaimi
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/haniaimi" username="haniaimi" userid="52148177" class="shop-href">
						haniaimi
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14 active" shopid="52146790">关注中</div>
	
</li>


	

<li data-follower-shop-id="71052972" data-follower-cursor="1" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/mjrpc20gmail" username="mjrpc20gmail" userid="71054433" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/mjrpc20gmail" username="mjrpc20gmail" userid="71054433" class="shop-href">
						mjrpc20gmail
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/mjrpc20gmail" username="mjrpc20gmail" userid="71054433" class="shop-href">
						mjrpc20gmail
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="71052972">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="67361302" data-follower-cursor="2" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/azim_ibrahim" username="azim_ibrahim" userid="67362759" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/ea2a3630a79218f71b5fc6cb04eaaba8_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/azim_ibrahim" username="azim_ibrahim" userid="67362759" class="shop-href">
						AZIM_IBRAHIM
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/azim_ibrahim" username="azim_ibrahim" userid="67362759" class="shop-href">
						azim_ibrahim
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="67361302">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="33798450" data-follower-cursor="3" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/faizfazmi88" username="faizfazmi88" userid="33799834" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/8f0bcb88e4204e62d88a0267c177aaf7_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/faizfazmi88" username="faizfazmi88" userid="33799834" class="shop-href">
						faizfazmi88
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/faizfazmi88" username="faizfazmi88" userid="33799834" class="shop-href">
						faizfazmi88
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="33798450">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="44226139" data-follower-cursor="4" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/gbellaugustinerasiah" username="gbellaugustinerasiah" userid="44227525" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/5c480b2bdc4346bf3c760061f671d3a6_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/gbellaugustinerasiah" username="gbellaugustinerasiah" userid="44227525" class="shop-href">
						gbellaugustinerasiah
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/gbellaugustinerasiah" username="gbellaugustinerasiah" userid="44227525" class="shop-href">
						gbellaugustinerasiah
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="44226139">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="65887474" data-follower-cursor="5" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/marcus.my" username="marcus.my" userid="65888930" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/marcus.my" username="marcus.my" userid="65888930" class="shop-href">
						marcus.my
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/marcus.my" username="marcus.my" userid="65888930" class="shop-href">
						marcus.my
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="65887474">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="1519694" data-follower-cursor="6" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/jenipa78" username="jenipa78" userid="1520816" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/jenipa78" username="jenipa78" userid="1520816" class="shop-href">
						jenipa78
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/jenipa78" username="jenipa78" userid="1520816" class="shop-href">
						jenipa78
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="1519694">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="31187381" data-follower-cursor="7" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/mohdfirdaushasni" username="mohdfirdaushasni" userid="31188765" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/7bfb88f1d5fa579a89488db147a7a4c3_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/mohdfirdaushasni" username="mohdfirdaushasni" userid="31188765" class="shop-href">
						mohdfirdaushasni
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/mohdfirdaushasni" username="mohdfirdaushasni" userid="31188765" class="shop-href">
						mohdfirdaushasni
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="31187381">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="14787578" data-follower-cursor="8" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/rovina2208" username="rovina2208" userid="14788914" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/rovina2208" username="rovina2208" userid="14788914" class="shop-href">
						ROVINA2208
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/rovina2208" username="rovina2208" userid="14788914" class="shop-href">
						rovina2208
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="14787578">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="37609580" data-follower-cursor="9" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/shahmirahusin" username="shahmirahusin" userid="37610966" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/bbaf010b5074e8cf1aeabd47956f6f1a_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/shahmirahusin" username="shahmirahusin" userid="37610966" class="shop-href">
						shahmirahusin
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/shahmirahusin" username="shahmirahusin" userid="37610966" class="shop-href">
						shahmirahusin
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="37609580">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="12972491" data-follower-cursor="10" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/alvine89" username="alvine89" userid="12973794" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/alvine89" username="alvine89" userid="12973794" class="shop-href">
						ALVINE89
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/alvine89" username="alvine89" userid="12973794" class="shop-href">
						alvine89
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="12972491">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="22449988" data-follower-cursor="11" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/nuramira.husaini" username="nuramira.husaini" userid="22451324" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/0906b246747ffe405a84294ac82645c6_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/nuramira.husaini" username="nuramira.husaini" userid="22451324" class="shop-href">
						nuramira.husaini
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/nuramira.husaini" username="nuramira.husaini" userid="22451324" class="shop-href">
						nuramira.husaini
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="22449988">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="16800289" data-follower-cursor="12" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/wanqaid" username="wanqaid" userid="16801625" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/3ac8dacfd0eab0caa7299c2d80343961_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/wanqaid" username="wanqaid" userid="16801625" class="shop-href">
						wanqaid
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/wanqaid" username="wanqaid" userid="16801625" class="shop-href">
						wanqaid
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="16800289">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="71339404" data-follower-cursor="13" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/fendynissan" username="fendynissan" userid="71340865" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;/static/images/ic_avatar_default@2x.png&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/fendynissan" username="fendynissan" userid="71340865" class="shop-href">
						fendynissan
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/fendynissan" username="fendynissan" userid="71340865" class="shop-href">
						fendynissan
					</a>
				
			
		</div>
	</div>

	
		
			<div class="btn-follow active follow L14" shopid="71339404">
				关注中
			</div>
		
	
</li>


	

<li data-follower-shop-id="43785597" data-follower-cursor="14" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/nuramiera198" username="nuramiera198" userid="43786983" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/e52421e82fbd42c858dc296256c61803_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/nuramiera198" username="nuramiera198" userid="43786983" class="shop-href">
						nuramiera198
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/nuramiera198" username="nuramiera198" userid="43786983" class="shop-href">
						nuramiera198
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="43785597">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="45865956" data-follower-cursor="15" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/cloudyyy.my" username="cloudyyy.my" userid="45867343" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/37340d3b0eead102d2676af23aac987e_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/cloudyyy.my" username="cloudyyy.my" userid="45867343" class="shop-href">
						  Mobile &amp; Gadgets+Mobile Phone Case +Tempered Glass + Home Living +Makeup 
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/cloudyyy.my" username="cloudyyy.my" userid="45867343" class="shop-href">
						cloudyyy.my
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="45865956">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="45747128" data-follower-cursor="16" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/fheyyhakabud" username="fheyyhakabud" userid="45748514" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/fd21756c332a7dd2e43ada953cca3dd8_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/fheyyhakabud" username="fheyyhakabud" userid="45748514" class="shop-href">
						lots of love
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/fheyyhakabud" username="fheyyhakabud" userid="45748514" class="shop-href">
						fheyyhakabud
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="45747128">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="17601733" data-follower-cursor="17" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/rahman1234567890" username="rahman1234567890" userid="17603069" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/8924e46dc5965dd38ff26585ca69c9f8_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/rahman1234567890" username="rahman1234567890" userid="17603069" class="shop-href">
						rahman1234567890
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/rahman1234567890" username="rahman1234567890" userid="17603069" class="shop-href">
						rahman1234567890
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="17601733">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="9244537" data-follower-cursor="18" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/fluffycatspaw" username="fluffycatspaw" userid="9245834" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/6aee9d728b1f8bc64c962dde97b2d8f5_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/fluffycatspaw" username="fluffycatspaw" userid="9245834" class="shop-href">
						fluffycatspaw
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/fluffycatspaw" username="fluffycatspaw" userid="9245834" class="shop-href">
						fluffycatspaw
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="9244537">
			+ <span class="L14">关注</span>
		</div>
	
</li>


	

<li data-follower-shop-id="47218383" data-follower-cursor="19" class="clickable_area middle-centered-div">
	
		
			<a href="https://shopee.com.my/sazmad" username="sazmad" userid="47219769" class="shop-href">
		
	
	
		<div class="portrait" style="background-image:url(&quot;https://cf.shopee.com.my/file/99489557092066abf643a765f398c8af_tn&quot;);">
		</div>
	
	</a>

	<div class="central-part flex1">
		<div class="up m14">
			
				
					<a href="https://shopee.com.my/sazmad" username="sazmad" userid="47219769" class="shop-href">
						SAZMAD
					</a>
				
			

		</div>
		<div class="down r12">
			
				
					<a href="https://shopee.com.my/sazmad" username="sazmad" userid="47219769" class="shop-href">
						sazmad
					</a>
				
			
		</div>
	</div>

	
		<div class="btn-follow follow L14" shopid="47218383">
			+ <span class="L14">关注</span>
		</div>
	
</li>



	</ul>
	<div class="loading-text" style="display: none;">读取中</div>
</div>



	<div class="web-popup-mask"></div>
<div class="web-popup-holder center-container">
	<div class="title"></div>
	<div class="image"></div>
	<div class="text"></div>
	<div class="button"></div>
</div>

	
<div id="_alert_bg" class="hidden">
	<div id="_alert_content" class="center-container">
		<div class="img hidden"></div>
		<span></span>
		<div class="middle-centered-div alert-btn-group">
			<div class="btn-dismiss-alert flex1">否</div>
			<div class="btn-confirm-alert flex1">是</div>
		</div>
	</div>
</div>
<div id="_alert_msg" class="center-container hidden">
	<div class="img hidden"></div>
	<span></span>
	<div class="middle-centered-div alert-btn-group">
		<div class="btn-dismiss-alert flex1">否</div>
		<div class="btn-confirm-alert flex1">是</div>
	</div>
</div>


	
		
<div class="language-wrapper hidden">
	<div class="center-container language-container">
		<div class="language-banner-container">
			<div>
				<img class="banner" src="fans_4_files/ic_background_map.png">
			</div>

			<div class="banner-logo middle-centered-div">
				<div class="flex1"></div>
				<div class="ic_shopee_logo"></div>
				<div class="flex1"></div>
			</div>
			<div class="label-select-language L24">选择语言</div>
			<ul class="language-options">
				<li data-lang-key="en" class="language-option r28">English</li>
				<li data-lang-key="ms-my" class="language-option r28">Malay</li>
				<li data-lang-key="zhHans" class="language-option r28">简体中文</li>
			</ul>
		</div>
		<div class="ic_selectlanguage_close clickable_area"></div>
	</div>
</div>

	

	<div class="page_hide"></div>
	<div class="general-mask"></div>




	
	



	<script>
{
	var dur = (Date.now ? Date.now() : +new Date()) - QOS_PAGE_START_MS;
	if(window._track_qos_pageload)
		_track_qos_pageload(dur);
	if(window.BI_ANALYTICS)
		BI_ANALYTICS.qos(QOS_TYPE.HTML, dur);
}

if(window.__plvNeedSaveAllNodesState__)
{
	// __plv_saved_body__ = document.children[0].innerHTML;
	window.__plv_saved_body__ = document.body.innerHTML;
}
</script>







<script type="text/javascript" id="" src="fans_4_files/analytics.js"></script>
<script type="text/javascript" id="">window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga("create",google_tag_manager["GTM-WJZQSJF"].macro(2),"auto","gtm");ga("gtm.require","ec");ga("gtm.set","transport","beacon");</script><div id="criteo-tags-div" style="display: none;"></div><script type="text/javascript" id="">(function(){var a=location.search?location.pathname+location.search:location.pathname;setTimeout(function(){ga("gtm.set","page",a);ga("gtm.send","pageview")},0)})();</script></body></html>